/* main.css */

.nbci_body{

	font-family: sans-serif;

	background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(white));
	background-image: -webkit-linear-gradient(top, lightblue,white);
	background-image: -moz-linear-gradient(top, lightblue,white);
	background-image: linear-gradient(to bottom, lightblue,white);
	/*Fix for Firefox*/
	height: 100%;
	
	}


#container{
	
	margin: auto;
	margin-top: 100px;
	
	padding: 20px;

	width: 80%;
	min-width: 300px;

	background-color: rgba(255, 255, 255, 0.445);
}

#msg_to_user{

	margin: -20px;
	margin-bottom: 10px;
	width: auto;

	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	background: rgb(255, 255, 82);
	display: hidden;	
}


/*This is the Toggle-Button*/


.toggle label {
	position: relative;
	display: inline-block;
	width: 10em;
	height: 3.5em;
	
}

.toggle input {
	display: none;
}

.toggle .slider {
	/* Grundfläche */
	
	position: absolute;
	cursor: pointer;
	top: 1.5em;
	left: 0; /*Position of the whole slider*/
	width: 4em;
	height: 2em;
	background-color: #c32e04;
	/* red */
	
	transition: all .3s ease-in-out;
	border-radius: 1em;
}

.toggle .slider:before {
	/* verschiebbarer Button */
	
	position: absolute;
	content: "";
	height: 1.6em;
	width: 1.6em;
	left: 0.2em;
	bottom: 0.2em;
	background-color: white;
	border-radius: 50%;
	transition: all .3s ease-in-out;
}

.toggle input:checked + .slider {
	background-color: #5a9900;
	/* green */
}

.toggle input:focus + .slider {
	background-color: pink;
	box-shadow: 0 0 1px #5a9900;
}

.toggle input:checked + .slider:before {
	-webkit-transform: translateX(1.9em);
	/* Android 4 */
	
	-ms-transform: translateX(1.9em);
	/* IE9 */
	
	transform: translateX(1.9em);
}


.text input:checked + .slider:after {
	/* Text hinter dem FlipFlop-Schalter */
	
	position: absolute;
	content: "AN";
	color: #5a9900;
	left: 4.5em;
	width: 200px;
	top: 0.5em;
}


.text input + .slider:after {
	/* Text hinter dem FlipFlop-Schalter */
	
	position: absolute;
	content: "AUS";
	color: #c32e04;
	font-weight: bold;
	left: 4.5em;
	top: 0.5em;
}

.inline{
	display: inline-block !important;
}


/*This is the Input Field*/

.nbci_textarea{ 
	margin-top: 10px;
	width: 10em;
	/* height: 3.5em; */
	width: 85%;
	resize: none;
	overflow:hidden;
	
	background-color: white;
	padding: 5px;

	font-family: "Arial, Helvetica, sans-serif";  
	font-size: 1.1em;
	color: grey;

	
	border-color: grey;
	border-radius: 3px;
	border-width: 1px;

}

#container label{
	margin-left: 2px;
	font-size: 1.1em;
	color: rgb(56, 56, 56);
}


.button{
	/* Grundfläche */
	cursor: pointer;
	background-color: orange;
    border-width: 0px;
    padding: 0.5em 0.7em;
    border-radius: 20px;
    color: white;
	font-size: 1em;
	font-weight: 600;

    left: 200px;
    position: absolute;
    top: 1.5em;
    height: 2em;
}

.button:hover{
	/* Grundfläche */

    background-color: rgb(255, 206, 121);
}

.button:active{
	/* Grundfläche */
    background-color: orangered;
}


/*This is the Copy-Button*/


.form-control, .form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.input-group .form-control, .input-group-button {
    display: table-cell;
}

 .btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 
.btn-sm {
    padding: 3px 10px;
    margin-left: -3px;
    font-size: 12px;
	line-height: 20px;
	
}

.btn {
    min-height: 34px;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    line-height: 1.5;
    line-height: 20px;
}

.btn:hover{
    background-color:#e6ebf1;
    background-image:linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position:0 -0.5em;
    border-color:rgba(27,31,35,0.35)
}

.btn:focus,
.btn.focus {
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
    outline: 0;
    border-color:rgba(27,31,35,0.35);
}

.input-group {
    display: table;
}

.input-group .form-control:last-child, .input-group-button:last-child .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    
}

.tooltipped {
    position: relative;
}
